{
    "presets": [
      [
        "@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari > 8"]
          },
          "modules": false,
          "loose": true
        }
      ],
      "@babel/preset-stage-2"
    ]
  }
  