@import './var.less';

.v2-table {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: @background-color-white;
    font-size: @normal-font-size;
    font-weight: @font-weight-normal;
    color: @color-primary;
    *, *::after, *::before {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .v2-table__placeholder-fix {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.table-component__table-wrapper{
    width: 100%;
    overflow: hidden;
}

.v2-table__table-container {
    width: 100%;
    overflow: auto;
}

.v2-table__table-content {
    font-size: 0;
    display: table;
    table-layout: fixed;
    &.v2-table__table-border {
        border-left: 1px solid @border-primary-color;
        border-top: 1px solid @border-primary-color;
        .v2-table__cell {
            border-right: 1px solid @border-regular-color;
        }
    }
}

.v2-table__table-thead {
    display: table-header-group;
}

.v2-table__header-row {
    display: table-row;
}

.v2-table__table-tbody {
    display: table-row-group;
}

.v2-table__cell {
    border-bottom: 1px solid @border-regular-color;
    cursor: default;
    font-size: 14px;
    padding: 10px 5px;
    user-select: none;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    &.v2-table__column-cell {
        color: @color-thead;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: @background-color-white;
        &.sortable {
            cursor: pointer;
        }
        &.descending .descending-caret {
            border-top: 5px solid @background-color-light
        }
        &.ascending .ascending-caret {
            border-bottom: 5px solid @background-color-light
        }
    }
    &.v2-table__row-cell {
        color: @color-primary;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
}

.v2-table__caret-wrapper {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 16px;
    cursor: pointer;
    margin-left: 2px;
    vertical-align: middle;
}

.v2-table__sort-caret {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    content: "";
    z-index: @z-index-min;
    border: 5px solid transparent;
    &.ascending-caret {
        border-bottom: 5px solid @border-light-color;
        top: -3px;
    }
    &.descending-caret {
        border-top: 5px solid @border-light-color;
        bottom: -3px;
    }
}

.v2-table__row {
    background-color: @background-color-white;
    transition: @all-transition;
    font-size: 0;
    display: table-row;
    &:hover {
        background-color: @background-color-hover;
    }
    &.v2-table__row-striped {
        background-color: @background-color-stripe;
    }
}