// Transition
@all-transition: all .3s cubic-bezier(.645,.045,.355,1);

// Text
@text-align-center: center;
@text-align-left: left;
@text-align-right: right;

// Fonts
@normal-font-size: 14px;
@font-weight-normal: 400;

// Colors
@color-primary: #606266;
@color-thead: #909399;

// Background
@background-color-white: #ffffff;
@background-color-hover: #f5f7fa;
@background-color-light: #ff6200;

// Border
@border-primary-color: #dfe6ec;
@border-regular-color: #ebeef5;
@border-light-color: #999999;

// z-index
@z-index-min: 5;
@z-index-normal: 150;
@z-index-regular: 1500;
@z-index-popper: 15000;